/* background color*/
$primary-color: #1e212b;
$primary-menu-color: #454c64;
$primary-card-color: #222;
$primary-sidebar-color: #343740;
$primary-sidebar-title-color: #0d0f13;

/* text color*/
$primary-text-color: white;

/* text menu color */
$primary-text-menu-color: #f3e3a4;

/* text menu color when hover */
$primary-text-menu-hover-color: black;

/* text title card */
$primary-title-card-color: rgb(255, 102, 0);

/* indents */
$std-indent: 16px;
$double-std-indent: 32px;

/* radius */
$radius: 5px;
