@import "base";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: $primary-color;
  color: $primary-text-color;
}

.container {
  display: grid;
  grid-template-columns: 25% auto;
  grid-template-rows: 150px;
  grid-auto-rows: auto;
  grid-template-areas:
    "hd hd"
    "nav nav"
    "sidebar main"
    "footer footer";
}

.header {
  grid-area: hd;
  padding: $std-indent;
  background-image: url(images/beef.webp);
  @extend %background-setup;
}

.header__title {
  text-align: center;
}

.menu {
  grid-area: nav;
  display: flex;
  justify-content: center;
}

.menu__item {
  padding: 0 $double-std-indent;
  line-height: 3rem;
  text-decoration: none;
  color: $primary-text-menu-color;
}

.menu__item:hover {
  background-color: $primary-menu-color;
  color: $primary-text-menu-hover-color;
}

.sidebar {
  grid-area: sidebar;
  margin: 64px;
}

.content__body {
  grid-area: main;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.content__header {
  display: flex;
  margin: 8px;
  font-size: 24px;
}

.card {
  width: 23%;
  height: fit-content;
  margin-bottom: $double-std-indent;
  @include border-radius($radius);
  overflow: hidden;
  background-color: $primary-card-color;
  transition: box-shadow 0.25s, transform 0.25s;
}

.card:hover {
  box-shadow: 0 0.5rem 0.5rem -0.4rem #777;
  transform: translateY(-0.25rem);
}

.card__header {
  position: relative;
  height: 250px;
  overflow: hidden;
  @extend %background-setup;
}

.item-1 {
  background-image: url(images/rebro.webp);
}

.item-2 {
  background-image: url(images/virizka.webp);
}

.item-3 {
  background-image: url(images/lopatka.webp);
}

.item-4 {
  background-image: url(images/bitok.webp);
}

.card__content {
  padding: 8px;
  font-size: 0.9rem;
  line-height: 1.4rem;
}

.card__content p {
  margin: 0px;
  color: $primary-title-card-color;
}

.card__info {
  color: green;
}

.sidebar__title {
  background-color: $primary-sidebar-title-color;
  padding: $std-indent;
  font-size: 24px;
}

.sidebar__content {
  padding: 8px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: $primary-sidebar-color;
}

.sidebar__email {
  text-decoration: none;
  color: $primary-text-color;
  padding: $std-indent;
}

.sidebar__email:hover {
  color: $primary-title-card-color;
}

.sidebar__contacts,
.sidebar__email__title {
  padding: 8px;
}

@media screen and (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px;
    grid-template-areas:
      "hd hd"
      "nav nav"
      "main main"
      "footer footer";
  }

  .header {
    padding: 0;
    font-size: 15px;
    text-align: center;
  }

  .sidebar {
    display: none;
  }

  .menu {
    font-size: 15px;
    flex-wrap: wrap;
    display: grid;
    justify-content: center;
    text-align: center;
  }

  .card {
    width: 100%;
    margin: 0 16px 16px 16px;
  }
}
